/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Page {
  width: 100%;
  background-color: #EBEBEB;
  font-family: Arial, sans-serif;
  color: white;
}

/* Layout */
.MainContiener {
  display: flex;
  flex-direction: row-reverse;
  gap: 1rem;
  margin: 4rem;
  height: 85vh;
  max-width: 100%;
}

.ProductOptions {
  background-color: #EBEBEB;
  width: 60%;
  padding: 0.8rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}



/* Buttons */
#Adder, #Reducer {
  background-color: #885151;
  color: #fff;
  transform: scale(1.05);
  cursor: pointer;
  border: none;
  padding: 5px 10px;
  font-size: 1.5rem;
}


/* Product details */
.Details {
  padding: 10px;
}

#Prices {
  display: flex;
  flex-direction: row;
  font-size: 1rem;
}

#ProductName {
  color: #020000;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

/* Colors */
#colors {
  margin: 10px 0;
}

#colors button {
  margin: 5px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
}

/* Amount Counter */
.AmountCounter {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

/* Cart & Wishlist */
#Save {
  display: flex;
  gap: 10px;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

#cart, #WishList {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  width: 150px;
}

#cart {
  background-color: #99011E;
  color: white;
  border: none;
}

#cart:hover {
  background-color: black;
}

#WishList {
  background-color: #99011E;
  border: none;
  height: 100%;
  background-image: url('./../../../assets/Pics/NavBar/WishList.png');
  background-repeat: no-repeat;
  background-position: center;
}

#WishList:hover {
  background-color: #020000;
}

/* Right Side - Products */
.RightSide {
  width: 50%;
}

.Products {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  height: 300px;
  background-color: #f9f9f9;
}

.Products h2 {
  font-size: 1.2rem;
  text-align: center;
  color: #333;
}

/* Responsive design */
@media (max-width: 700px) {
  .MainContiener {
    flex-direction: column-reverse;
    gap: 1rem;
    margin: 1rem;
  }

  .ProductOptions {
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }

  .RightSide {
    margin-top: 2rem;
    width: 100%;
  }

  .Products {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 20vh;
  }
}

@media (max-width: 870px) {
  .ProductOptions {
    min-width: 25%;
  }
}

@media (max-width: 720px) {
  .ProductOptions {
    min-width: 35%;
  }

  #WishList {
    background-image: url('src/assets/Pics/NavBar/WishList.png');
  }
}
