/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Page {
  height: 100%;
  width: 100%;
  background-color: #EBEBEB;
  font-family: 'Arial', sans-serif;
  color: white;
}



.Products {
  background-color: #c47777;
  flex: 1;
  min-height: 30vh;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.2rem;
  text-align: center;
  flex-shrink: 0;
}

.RightSide {
  background-color: #EBEBEB;
  flex: 3;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
}

#HeaderForCart {
  width: 40%;
  height: 6rem;
  margin-bottom: 3rem;
  border-radius: 8px;
  color: rgb(24, 9, 9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5rem;
  font-family: 'Lucida Sans', sans-serif;
}

/* Responsive design */
@media (max-width: 700px) {
  .Main {
    flex-direction: column;
    gap: 1rem;
    margin: 1rem;
    overflow-x: hidden;
  }

  .Order {
    width: 90%;
    max-width: 90%;
    padding: 1rem;
    margin: 0 auto;
  }

  .RightSide {
    margin-top: 2rem;
    width: 100%;
  }

  .Products {
    width: 100%;
    flex-wrap: wrap;
    gap: 1rem;
    min-height: 20vh;
  }
}

@media (max-width: 870px) {
  .Order {
    min-width: 25%;
  }
}

@media (max-width: 770px) {
  .Order {
    min-width: 30%;
  }
}

@media (max-width: 720px) {
  .Order {
    min-width: 35%;
  }
}