
@media (max-width: 750px) {

  .slider-container {
    max-width: 100%;
    margin-left: 1rem;
  }


}
.slider-container {
  max-width: 100px;
  text-align: center;
  margin-left: 1rem;
}

  .slider-title {
    font-size: 28px;
    font-weight: 600;
    color: #421919;
    margin-bottom: 1rem;
  }
  

  
  .slider-value {

    font-size: 14px;
    color: #5c4040;
  }
  