.MainDiv{

  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */


}


.LandingPageBox1 {
  background-color: #232323;
display: flex;

}
.RightSideBox1{

    margin-right: 2rem;
}
#Man{
  max-width: 100%;
  max-height: 25rem;
  height: auto;
  
}
.LeftSideBox1{ 
margin-left: 3rem;
float: left;
}

#ShopNow{
  border-color: red;
  border-width: 2px;
}




.LandingPageBox2 {
  background-color: #232323;

  background-color: blue;
}
.LandingPageBox3 {
  background-color: #232323;

  background-color: blue;
}
