

@media (max-width:600px) {
  
  .LandingPageBox1 {
    background-color: #232323;
    display: flex; 
    flex-direction: column;
   }
 

}

@media (max-width:700px) {
  
  #Men{
    width: 120px;
    height: 20%;
    object-fit: cover;
  }
  #Woman{
    width: 120px;
    height: 20%;
    object-fit: cover;
  }

}

.MainDiv{
  width: 100vw; /* 100% of the viewport width */
  height: 100vh; /* 100% of the viewport height */
}


.LandingPageBox1 {
  background-color: #232323;
  display: flex; 
  justify-content:space-evenly;
  
 }
.RightSideBox1{

  display: flex;
    justify-content: center;
  
}
.LeftSideBox1{ 
text-align: center;
padding-bottom: 2rem;
}
#Man{
  max-width: 120%;
  min-width: 70%;
  max-height: 25rem;
  min-height:25rem ;
}


#ShopNow{
  border-color: red;
  border-width: 2px;
}



/*///////////////////////////////////////////*/
.LandingPageBox2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  align-items: center;
  overflow-wrap: normal;

}
.MenAndWoman{


}
#Men{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  max-width: 70%;
  min-width: 20%;
  max-height: 25rem;
  min-height:25rem ;
}
#Woman{
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-right: 1rem;
  max-width: 70%;
  min-width: 20%;
  max-height: 25rem;
  min-height:25rem ;
}
#CategoryText{

  color: black;
  font-style: italic;
  font-size: 20px;
  margin: 1rem;
}




/*///////////////////////////////////////////*/

.LandingPageBox3 {
  background-color: #232323;

  background-color: blue;
}
