

@media (max-width:600px) {
  
  .LandingPageBox1 {
    background-color: #232323;
    display: flex; 
    flex-direction: column;
    gap: 20px;
   }
 

}
@media (max-width: 1040px) {
  #Men {
    width: 300px !important;
    height: 400px !important;
  }
  #Woman {
    width: 300px !important;
    height: 400px !important;
  }
}
@media (max-width: 700px) {
  #Men {
    width: 250px !important;
    height: 400px !important;
    
  }
  #Woman {
    width: 250px !important;
    height: 400px !important;
  }
}

@media (max-width: 550px) {
  #Men {
    width: 200px !important;
    height: 300px !important;
    
  }
  #Woman {
    width: 200px !important;
    height: 300px !important;
  }
}

  @media (max-width: 445px) {
    #Men {
      width: 150px !important;
      height: 300px !important;
      
    }
    #Woman {
      width: 150px !important;
      height: 300px !important;
    }
}

@media (max-width :580px){

.LandingPageBox3
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#SignIn{
margin-right: 10rem;
  margin-top: 5rem;
}

#SignUp{
  margin-bottom: 5rem;
  margin-left: 1rem;
}
}


.MainDiv{
  width: 100vw; /* 100% of the viewport width */
  height: 80vh; /* 100% of the viewport height */
}


.LandingPageBox1 {
  background-color: #232323;
  display: flex; 
  justify-content:space-evenly;
  
 }
.RightSideBox1{

  display: flex;
    justify-content: center;
  
}
.LeftSideBox1{ 
text-align: center;
}
.ArrivedNowDecoration{
  display: flex;
 justify-content: center;
 align-items: center;
}
#Line{

  color: red;
  font-size: 50px;

}


#_{

  color: red;
  font-size: 20px;
margin-top: 10px;
margin-right: 2px;

}
#_2{

  color: red;
  font-size: 20px;
margin-top: 10px;
margin-left: 2px;

}

.MenSectionText{

  display: flex;
  flex-direction: row-reverse;
  text-align: center;
  justify-content: center;


  
}


#Man{
  max-width: 120%;
  min-width: 70%;
  max-height: 25rem;
  min-height:25rem ;
}


#ShopNow{
  border-color: red;
  border-width: 2px;
}



/*///////////////////////////////////////////*/
.LandingPageBox2 {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-wrap: normal;
  padding: 5rem;

}
.MenAndWoman{
background-color: rgb(0, 0, 0);
display: flex;



}
#Men{
  background-image: url(assets\Pics\LandingPage\Man.png);
  width:500px;
  height: 35rem;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 




  display:flex ;
  flex-direction:column-reverse;

  justify-content: center;
  align-items:center;

}
#MenText{
  opacity: 0;
}
#MenButton{
  opacity:  0;
  width:  50%;
  margin-top: 15rem;
}
#WomanText{
  opacity: 0;
}
#WomanButton{
opacity: 0;
width:  50%;
  margin-top: 15rem;
}

#Men:hover{
  opacity: 50%;
transition: 0.5s ease;

}
#Men:hover #MenText, 
#Men:hover #MenButton {
  opacity: 1; /* Make the text and button visible */
}

#Woman{
  background-image: url(assets\Pics\LandingPage\Women.png);
  width:500px;
  height: 35rem;
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 
  display:flex ;
  flex-direction:column-reverse;
  justify-content: center;
  align-items:center;/* Prevents the image from repeating */
}
#Woman:hover{
  opacity: 50%;
transition: 0.5s ease;
}
#Woman:hover #WomanText, 
#Woman:hover #WomanButton {
  opacity: 1; /* Make the text and button visible */
}
#CategoryText{

  color: black;
  font-style: italic;
  font-size: 20px;
  margin-left: 2.1rem;
}




/*///////////////////////////////////////////*/

.LandingPageBox3{

  background-image: url(assets/Pics/LandingPage/BackGroundRed.png);
  background-size: cover; /* Ensures the image covers the div */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; 
  width: 100vw; /* 100% of the viewport width */
  height: 90vh;
 display: flex;
 justify-content: space-between;
 align-items: center;





}

#SignIn{
position: relative;
margin-left: 3rem;
}
#SignUp{
  position: relative;

  margin-right: 3rem;
  }

  #CoverContent{
margin: 5rem;
  }
  
#Switch{
  background-color: rgb(146, 35, 35);
  margin-bottom: 2rem;
  border-color: rgb(153, 85, 85);
justify-content: baseline;
}


